.container{
    display: flex;
    gap: 20px;

    
}
.landing-page-text{
    font-size: 32px;
    font-weight: 600;
    padding: 20px;
    padding-left: 100px;
    width: 50%;
}
.landing-page-text h1{
    color: #0e488a;
}
.landing-page-text p{
    font-size: 40px;
}
.landing-page-image{
    width: 50%;
}

.get-started{
    display: flex;
    align-items: center;
}
.get-started button{
    width: 30%;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 20px;
    background-color: #50C878;
    color: black;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.get-started button:active{
    border: 1px solid rgb(64, 128, 64);
    color: rgb(64, 128, 64);
    background: white;
}






@media only screen and (max-width: 600px) {
    .container{
        display: flex;
        gap: 20px;
        width: 100%;
    
        
    }
    .landing-page-text{
        
        font-size: 32px;
        font-weight: 600;
        padding: 20px;
        padding-left: 100px;
        width: 50%;
    }
    .landing-page-text h1{
        color: #0e488a;
        font-size: 30px;
    }
    .landing-page-text p{
        font-size: 20px;
    }
    .landing-page-image{
        width: 40%;
    }
    
    .get-started{
        display: flex;
        align-items: center;
    }
    .get-started button{
        width: 70%;
        height: 50px;
        outline: none;
        border: none;
        border-radius: 20px;
        background-color: #50C878;
        color: black;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
    }
    .get-started button:active{
        border: 1px solid rgb(64, 128, 64);
        color: rgb(64, 128, 64);
        background: white;
    }

}


@media screen and (min-width: 601px) and (max-width: 1024px){
    .container{
        display: flex;
        /* gap: 10px; */
        width: auto;
    
        
    }
    .landing-page-text{
        font-size: 20px;
        font-weight: 600;
        padding: 20px;
        padding-left: 50px;
        /* width: 40%; */
    }
    .landing-page-text h1{
        color: #0e488a;
    }
    .landing-page-text p{
        font-size: 20px;
    }
    .landing-page-image{
        width: 60%;
    }
    
    .get-started{
        display: flex;
        align-items: center;
    }
    .get-started button{
        width: 60%;
        height: 50px;
        outline: none;
        border: none;
        border-radius: 20px;
        background-color: #50C878;
        color: black;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
    }
    .get-started button:active{
        border: 1px solid rgb(64, 128, 64);
        color: rgb(64, 128, 64);
        background: white;
    }
}