.container{
    display: flex;
    gap: 20px;
    padding-top: 0%;

    
}
.landing-page-text{
   
    font-weight: 600;
    padding: 24px;
    padding-right: 60px;
    width: 50%;
    margin-top: 50px;
    margin-left: 6%;
}
.landing-page-text h1{
    color: #082a52;
    font-size: 60px;
    font-weight: 600;
}
.landing-page-text p{
    font-size: 40px;
    font-weight: 600;
}
.image-students{
    width: auto;
    margin-left:5%;
    width: 84%;
}
.get-started{
    display: flex;
    align-items: center;
}
.get-started button{
    width: 50%;
    height: auto;
    outline: none;
    border: none;
    border-radius: 20px;
    background-color: #50C878;
    color: black;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
    padding: 20px;
}
.get-started button:active{
    border: 1px solid rgb(64, 128, 64);
    color: rgb(64, 128, 64);
    background: white;
}




@media only screen and (max-width: 400px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        /* justify-content: center; */
    }
    .landing-page-text {
        font-size: 20px;
        font-weight: 300;
        padding: 10px;
        text-align:left;
        padding-left: 30px;
    }
    .landing-page-text h1 {
        color: #0a3464;
        font-size: 38px;
    }
    .landing-page-text p {
        font-size: 22px;
    }
    .get-started {
        display: flex;
        /* justify-content: center; */
    }
    .get-started button {
        width: 100%;
        height: auto;
        outline: none;
        border: none;
        border-radius: 20px;
        background-color: #50C878;
        color: black;
        font-size: 15px;
        font-weight: 500;
        cursor: pointer;
        padding: 10px;
    }
    .get-started button:active {
        border-color: rgb(64, 128, 64);
        color: rgb(64, 128, 64);
        background-color: white;
    }
}



@media screen and (min-width: 401px) and (max-width: 600px){
    .container {
        display: flex;
        flex-wrap: wrap;
        /* justify-content: center; */
    }
    .landing-page-text {
        font-size: 20px;
        font-weight: 300;
        padding: 10px;
        text-align: left;
        padding-left: 50px;
    }
    .landing-page-text h1 {
        color: #0a3464;
        font-size: 42px;
        /* font-weight: 600; */
    }
    .landing-page-text p {
        font-size: 26px;
    }
    .get-started {
        display: flex;
        /* justify-content: center; */
    }
    .get-started button {
        width: 80%;
        height: auto;
        outline: none;
        border: none;
        border-radius: 20px;
        background-color: #50C878;
        color: black;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        padding: 14px;
    }
    .get-started button:active {
        border-color: rgb(64, 128, 64);
        color: rgb(64, 128, 64);
        background-color: white;
    }
}



@media screen and (min-width: 601px) and (max-width: 900px){
    .container {
        display: flex;
        flex-wrap: wrap;
        
    }
    .landing-page-text {
        font-size: 20px;
        font-weight: 300;
        padding: 10px;
        text-align: left;
        padding-left: 50px;
        width: 100;
    }
    .landing-page-text h1 {
        color: #0a3464;
        font-size: 60px;
        font-weight: 600px;
        
    }
    .landing-page-text p {
        font-size: 30px;
    }
    .get-started {
        display: flex;
        /* justify-content: center; */
    }
    .get-started button {
        width: 80%;
        height: auto;
        outline: none;
        border: none;
        border-radius: 20px;
        background-color: #50C878;
        color: black;
        font-size: 22px;
        font-weight: 500;
        cursor: pointer;
        /* padding: ; */
    }
    .get-started button:active {
        border-color: rgb(64, 128, 64);
        color: rgb(64, 128, 64);
        background-color: white;
    }
}

@media screen and (min-width: 900px) and (max-width: 1024px){
    .container {
        display: flex;
 
    }
    .landing-page-text {
        font-size: 20px;
        font-weight: 300;
        padding: 50px;
        padding-left: 80px;
        margin-top: 10px;
        margin-left: 0;
        
    }
    .landing-page-text h1 {
        color: #0e488a;
        font-size: 40px;

    }
    .landing-page-text p {
        font-size: 25px;
    }
    .get-started {
        display: flex;
        align-items: center;
    }
    .image-students{
        width: auto;
        margin-left: 0;
        width: 80%;
    }
    .get-started button {
        width: 40%;
        height: auto;
        outline: none;
        border: none;
        border-radius: 20px;
        background-color: #50C878;
        color: black;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
    }
    .get-started button:active {
        border-color: rgb(64, 128, 64);
        color: rgb(64, 128, 64);
        background-color: white;
    }
    
}

@media screen and (min-width: 1025px) and (max-width: 1720px){
  .container {
    display: flex;

}
.landing-page-text {
    font-size: 20px;
    font-weight: 300;
    padding: 50px;
    padding-left: 80px;
    margin-top: 10px;
    margin-left: 0;
    
}
.landing-page-text h1 {
    color: #0e488a;
    font-size: 40px;

}
.landing-page-text p {
    font-size: 25px;
}
.get-started {
    display: flex;
    align-items: center;
}
.image-students{
    width: auto;
    margin-left: 0;
    width: 80%;
}
.get-started button {
    width: 40%;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 20px;
    background-color: #50C878;
    color: black;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
.get-started button:active {
    border-color: rgb(64, 128, 64);
    color: rgb(64, 128, 64);
    background-color: white;
}
}