.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 20px;
  margin-left: 2%;

}
.logo{
  width: 28%;

} 
.nav-logo{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px; 
  padding-left: 80px;
}
.nav-logo p{
  color: #50C878;
  font-size: 32px;
  font-weight: 600;


}
.nav-menu {
  list-style-type: none;
  display: flex;
  gap: 70px;
  width: 30%;
  padding-left: 50%;
  
}
.nav-menu li {
  cursor: pointer;
  padding-left: 2%;
  font-size: 25px;
  font-weight: 100;
}
.nav-menu li.active::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
}
.cancel-btn{
  display: none;
}
.icon{
  display: none;
}

.icon {
  clip-path: inset(100%);
}



@media only screen and (max-width: 400px) {
 .nav-menu {
    position: absolute;
    right: 0;
    top: 0px;
    flex-direction: column;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.747);
    color: white;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }

 .nav-menu.open {
    display: block;
  }
  .cancel-btn{
      display: none;
    }
  .navbar {
      display: flex;
      padding-right: 1%;
      font-size: 15px;
      margin-left: 0;
      justify-content: center;
   padding: 20px;
    }
    .nav-logo p{
      color: #50C878;
      font-size: 16px;
      font-weight: 600;
  
  }
  .logo{
      width: 20%;
  
  } 
 .nav-logo{
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 8px; 
     
  }
   .cancel-btn{
      padding: 6px 10px;
      font-size: 20px;
    }
    .nav-menu.open {
      max-height: 100%; 
    }
    .nav-menu li.active {
      font-weight: bold;
      color: #0ee054;
    }
    .nav-menu li {
      list-style-type: none;
      margin-bottom: 2px;
      cursor: pointer;
      padding: 20px;
      font-size: 20px;
    }
    .cancel-btn {
      display: flex;
      justify-content: flex-end;
      /* margin-top: px; */
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.041);
      color: white;
      border: none;
      padding: 35px 50px;
      font-size: 26px;
    }  
    .icon {
      clip-path: none; 
      display: inline-block; 
      display: block;
      border: none;
      font-size: 24px;
      padding-right: 30px;
    }

}





@media screen and (min-width: 401px) and (max-width: 900px){
  .nav-menu {
    position: absolute;
    right: 0;
    top: 0px;
    flex-direction: column;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.747);
    color: white;
    overflow: hidden;
    transition: max-height 0.3s ease;  
    font-size: 30px;
  }
 .nav-menu.open {
    display: block;
  }

 .icon {
    clip-path: none; 
    display: inline-block; 
    display: block;
    border: none;
    font-size: 26px;
    padding-right: 60px;
  }
  .cancel-btn{
      display: none;
    }
  .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 15px;
      margin-left: 0;
   
    }
    .nav-logo p{
      color: #50C878;
      font-size: 22px;
      font-weight: 600;
  
  }
  .logo{
      width: 30%;
  
  } 
 .nav-logo{
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 12px; 
    
  }
    .nav-menu.open {
      max-height: 100%; 
    }
    .nav-menu li.active {
      font-weight: bold;
      color: #0ee054;
    }
    .nav-menu li {
      list-style-type: none;
      margin-bottom: 2px;
      cursor: pointer;
      padding: 20px;
      font-size: 20px;
    }
    .cancel-btn {
      display: flex;
      justify-content: flex-end;
      margin-top: 26px;
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.041);
      color: white;
      border: none;
      padding: 39px;
      font-size: 40px;
      padding: 35px 50px;
      font-size: 30px;
    } 

}




@media screen and (min-width: 901px) and (max-width: 1024px){

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  /* padding-right: 2%; */
  font-size: 20px;
  margin-left: 0px;


}
.logo{
  width: 48%;

} 

.nav-logo{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px; 
  padding-left: 40px;

}
.nav-menu {
list-style-type: none;
display: flex;
gap: 24px;
width: 80%;

}
.nav-logo p{
  color: #50C878;
  font-size: 24px;
  font-weight: 600;

}

.nav-menu li {
  cursor: pointer;
  font-size: 22px;
  font-weight: 100;
}

.nav-menu li.active::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
}
 }




@media screen and (min-width: 1025px) and (max-width: 1620px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    margin-left: 0px;
  
  
  }
  .logo{
    width: 58%;
  
  } 
  .nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px; 
    padding-left: 40px;
  
  }
  .nav-menu {
  list-style-type: none;
  display: flex;
  gap: 70px;
  width: 80%;
  
  }
  .nav-logo p{
    color: #50C878;
    font-size: 24px;
    font-weight: 600px;
  
  }
  
  .nav-menu li {
    cursor: pointer;
    font-size: 20px;
    font-weight: 100px;
  }
  
  .nav-menu li.active::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
  }

}
